/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Norican&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

/* CSS Variables */
:root {
  --primary-color: #ffc107;
  --secondary-color: rgba(1, 26, 255, 0.737);
  --text-color: rgba(255, 255, 255, 0.744);
  --font-family-primary: 'Roboto Slab', serif;
  --font-family-secondary: 'Great Vibes', cursive;
  --font-family-tertiary: 'Courgette', cursive;
  --font-family-quaternary: 'Playfair Display', serif;
}

/* Global Styles */
* {
  box-sizing: border-box;
}

html, body {
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
  height: 100vh!important;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

/* Footer Styles */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-family: var(--font-family-primary);
  font-size: 0.8rem;
  color: var(--text-color);
  width: 100%;
  position: relative;
  flex-wrap: nowrap;
  text-align: center;
}

.footer-text {
  color: var(--text-color)!important;
}

.footer-image {
  border-radius: 50%;
  height: 50px;
  width: auto;
}

/* Navbar Styles */
.navbar-brand {
  margin-left: 1rem;
  text-align: center;
  font-family: var(--font-family-secondary);
  font-size: 40px;
  font-weight: 500;
  -webkit-text-stroke-width: 0.25px;
  -webkit-text-stroke-color: var(--secondary-color);
  color: var(--primary-color);
}

.nav-img {
  height: 50px!important;
  width: auto !important;
  margin: 1rem;
  margin-bottom: 1.75rem;
}

.nav-item {
  text-align: center;
}

.nav-item:hover,
.dropdown-item:hover {
  font-size: 1.2rem;
  font-style: italic;
}

.navbar-nav {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 1rem;
}

.dropdown-item {
  font-size: 1rem;
}

.dropdown-item:hover {
  background-color: #0d6efd;
}

.card, .card-body{
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--text-color);
  border: 2px solid aqua;
  border-radius: 5px;
  margin: 1rem;
  height: 100vh !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}

/* Card Styles */
.card-header, .card-title {
  font-family: var(--font-family-quaternary);
  text-decoration: underline;
}

.card-header, .card-footer {
  background-color: rgb(88, 15, 15);
}

.card-text, .card-body, .card-footer {
  font-family: var(--font-family-tertiary);
}

.card-title, .card-footer, .card-header, .blockquote-footer {
  text-align: center;
  justify-content: center;
}

h1, h2, h3, .card-title {
  text-align: center;
  font-family: var(--font-family-tertiary);
  color: var(--primary-color);
  font-weight: 500;
  -webkit-text-stroke-width: 0.25px;
  -webkit-text-stroke-color: var(--secondary-color);
}

pre {
  color: white;
  font-size: 1rem;
}

small {
  font-size: 0.5rem;
}

cite {
  color: #ffffffa6;
}

/* Image Styles */
.contact-img {
  height: 25px;
  width: 25px;
}

.about-img {
  height: 27.5vw;
}

.gallery-header {
  margin-top: 1rem;
}

/* Container Styles */
.container-fluid {
  color: var(--text-color);
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family-primary);
  width: 100vw;
  padding: 0 !important;
}

.container-fluid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-bottom: 5px ridge aqua !important;
  
}

div > footer {
  border-top: 5px ridge aqua !important;
}

/* Responsive Styles */
@media (max-width: 768px) {
  footer {
    display: flex;
    flex-direction: row;
  }
  .footer-brand {
    margin: 1rem;
  }
  .nav-img {
    height: 30px;
    width: 30px;
  }
  .navbar-brand {
    font-size: 30px;
  }
  .nav-item:hover,
  .dropdown-item:hover {
    font-size: 1rem;
  }
  .card, .card-body {
    height: auto !important;
    padding: 2rem;
  }
}

@media (max-width: 480px) {
  .navbar-brand {
    font-size: 25px;
  }
  .nav-img {
    height: 25px;
    width: 25px;
  }
  .nav-item:hover,
  .dropdown-item:hover {
    font-size: 0.9rem;
  }
  .card, .card-body {
    padding: 1rem;
  }
}
